<h1 class="text-center">Ajout d'adresse</h1>
<form method="POST" [formGroup]="formAddress" (submit)="submitAddress()" class="w-50 mx-auto">
  <div class="d-flex justify-content-between">
    <label for="country">Pays : </label>
    <input type="text" id="country" [name]="'country'" formControlName="country">
  </div>
  <div class="d-flex justify-content-between">
    <label for="town">Ville : </label>
    <input type="text" id="town" [name]="'town'" formControlName="town">
  </div>
  <div class="d-flex justify-content-between">
    <label for="road">Rue : </label>
    <input type="text" id="road" [name]="'road'" formControlName="road">
  </div>
  <div class="d-flex justify-content-between">
    <label for="number">Numéro : </label>
    <input type="text" id="number" [name]="'number'" formControlName="number">
  </div>
  <div class="d-flex justify-content-between">
    <label for="box">Boîte : </label>
    <input type="text" id="box" [name]="'box'" formControlName="box">
  </div>
  <div class="d-flex justify-content-between">
    <label for="cp">Code Postal : </label>
    <input type="text" id="cp" [name]="'cp'" formControlName="cp">
  </div>

  <div class="d-flex justify-content-between">
    <label for="type">Type : </label>
    <input type="text" id="type" [name]="'type'" formControlName="type">
  </div>
  <button [disabled]="formAddress.invalid">Ajouter adresse</button>
</form>

<h1 class="text-center">Ajout d'organisation</h1>

<form method="POST" [formGroup]="formOrganization" (submit)="submitOrganization()" class="w-50 mx-auto">
  <div class="d-flex justify-content-between">
    <label for="name">Nom : </label>
    <input type="text" id="name" [name]="'name'" formControlName="name">
  </div>
  <div class="d-flex justify-content-between">
    <label for="description">Description : </label>
    <input type="text" id="description" [name]="'description'" formControlName="description">
  </div>
  <div class="d-flex justify-content-between">
    <p>Actif : </p>
    <div>
      <input type="checkbox" id="actif" [name]="'actif'" formControlName="actif" class="">
      <label for="actif">Actif </label>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <span for="address">Adresses : </span>
    <app-display-addresses [addresses]="[]" (addAddress)="addAddress($event, formOrganization)"
                           (modifiedAddresses)="modifyAddress($event, formOrganization)"></app-display-addresses>
  </div>

  <button [disabled]="formOrganization.invalid">Ajouter organisation</button>
</form>

<h1 class="text-center">Ajout d'employé</h1>

<form method="POST" [formGroup]="formEmployee" (submit)="submitEmployee()" class="w-50 mx-auto">
  <div class="d-flex justify-content-between">
    <label for="role">Role : </label>
    <input type="text" id="role" [name]="'role'" formControlName="role">
  </div>
  <div class="d-flex justify-content-between">
    <p>Actif : </p>
    <div>
      <input type="checkbox" id="actifE" [name]="'actif'" formControlName="actif" class="">
      <label for="actifE">Actif </label>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <span>Compte : </span>
    <div>
      <div id="account">
        <select name="accountSelector" id="accountSelector" [name]="'account'" formControlName="account">
          <option value="0"></option>
          <ng-container *ngFor="let account of accountService.accounts$ | async">
            <option [appAccount]="account"></option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <span>Organisation : </span>
    <div>
      <div id="organization">
        <select name="organizationSelector" id="organizationSelector" [name]="'organization'" formControlName="organization">
          <option value="0"></option>
          <ng-container *ngFor="let organization of organizationService.organizations$ | async">
            <option [appOrganization]="organization"></option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <span for="address">Adresses : </span>
    <app-display-addresses [addresses]="[]" (addAddress)="addAddress($event, formEmployee)"
                           (modifiedAddresses)="modifyAddress($event, formEmployee)"></app-display-addresses>
  </div>
  <button [disabled]="formEmployee.invalid">Ajouter employé</button>
</form>
