<div class="d-flex justify-content-center">
  <h1 class="mt-3 text-decoration-underline h3">Connexion</h1>
</div>
<section class="h-100 w-100 d-flex justify-content-center align-items-center mt-3">
  <form action="POST" class="bg-warning bg-opacity-25 p-3 rounded-9" [formGroup]="formAuth" (submit)="submit()">
    <div class="">
      <label for="username" class="d-block">Nom d'utilisateur :</label>
      <input type="text" id="username" [name]="'username'" formControlName="username">
    </div>
    <div class="">
      <label for="password" class="d-block">Mot de passe :</label>
      <input type="password" id="password" [name]="'password'" formControlName="password">
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-warning" [disabled]="formAuth.invalid" type="submit">Connexion</button>
    </div>
  </form>
</section>
