<form method="POST" (submit)="submit()" [formGroup]="formDocument" class="w-50 mx-auto">
  <div class="d-flex justify-content-between">
    <label for="name">name : </label>
    <input type="text" id="name" [name]="'name'" formControlName="name">
  </div>
  <div class="d-flex justify-content-between">
    <label for="description">description : </label>
    <input type="text" id="description" [name]="'description'" formControlName="description">
  </div>
  <div class="d-flex justify-content-between">
    <label for="free_access">free_access : </label>
    <input type="text" id="free_access" [name]="'free_access'" formControlName="free_access">
  </div>
  <div class="d-flex justify-content-between">
    <label for="path">path : </label>
    <input type="text" id="path" [name]="'path'" formControlName="path">
  </div>
  <div class="d-flex justify-content-between">
    <label for="type">type : </label>
    <input type="text" id="type" [name]="'type'" formControlName="type">
  </div>
  <div class="d-flex justify-content-between">
    <label for="employee">employee : </label>
    <input type="text" id="employee" [name]="'employee'" formControlName="employee">
  </div>
  <div class="d-flex justify-content-between">
    <label for="organization">organization : </label>
    <input type="text" id="organization" [name]="'organization'" formControlName="organization">
  </div>
  <div class="d-flex justify-content-between">
    <label for="transaction">transaction : </label>
    <input type="text" id="transaction" [name]="'transaction'" formControlName="transaction">
  </div>

  <button [disabled]="formDocument.invalid">Ajouter contact</button>
</form>


