<h1 class="h3 text-center pb-3">Liste des contacts</h1>

<table class="table table-striped">
  <thead>
    <tr class="row h6">
      <td class="col">Prénom</td>
      <td class="col">Nom</td>
      <td class="col">Email</td>
      <td class="col">Téléphone</td>
      <td class="col">Adresse</td>
      <td class="col"></td>
      <td class="col"></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let contact of contactService.contacts$ | async">
      <tr class="row" id="{{contact.contact_id}}">
        <td class="col">{{contact.firstname}}</td>
        <td class="col">{{contact.lastname}}</td>
        <td class="col">{{contact.email}}</td>
        <td class="col">{{contact.phone}}</td>
        <td class="col" [appAddresse]="contact.addresses"></td>
        <td class="col"><button class="btn btn-danger bg-danger" (click)="deleteClick(contact.contact_id)">Supprimer</button></td>
        <td class="col"><a class="btn btn-primary bg-primary" [appModifyUrl]="'modify/'+contact.contact_id" >Modifier</a></td>
      </tr>
    </ng-container>
  </tbody>
</table>
