/* You can add global styles to this file, and also import other style files */
@import '~mdb-ui-kit/css/mdb.min.css';

.sub-header{
  position : absolute;
  top: 100%;
  left : 0;
  transform: translate(0, -100%);
}
.p-hover1{
  position : absolute;
  top: 100%;
  left : 0;
  transform: translate(0, -100%);
  &:hover{

    .hidden1{
      width: 100%;
      margin : 0 5px 0 5px;
      transition: all ease 0.5s;
      visibility: visible;

    }
  }
  .hidden1 {
    width: 0;
    visibility: hidden;
    transition: all ease 0.5s;

  }
}
.p-hover2{
  position : absolute;
  top: 100%;
  left : 0;
  transform: translate(0, -200%);
  &:hover{
    .hidden2{
      width: 100%;
      margin : 0 5px 0 5px;
      transition: all ease 0.5s;
      visibility: visible;
    }
  }
  .hidden2 {
    width: 0;
    visibility: hidden;
    transition: all ease 0.5s;

  }
}.p-hover3{
   position : absolute;
   top: 100%;
   left : 0;
   transform: translate(0, -300%);
   &:hover{
     .hidden3{
       width: 100%;
       margin : 0 5px 0 5px;
       transition: all ease 0.5s;
       visibility: visible;
     }
   }
   .hidden3 {
     width: 0;
     visibility: hidden;
     transition: all ease 0.5s;

   }
 }


