/* You can add global styles to this file, and also import other style files */
@import '~mdb-ui-kit/css/mdb.min.css';

.p-hover1{
  position: fixed;
  bottom: 0;
  left: 0;
  width : fit-content;
  color: white;
  &:hover{

    .hidden1{
      width: 100%;
      margin : 0 5px 0 5px;
      transition: all ease 0.5s;
      visibility: visible;

    }
  }
  .hidden1 {
    width: 0;
    visibility: hidden;
    transition: all ease 0.5s;

  }
}
.p-hover2{
  position: fixed;
  bottom: 0;
  left: 0;  width : fit-content;
  color: white;
  transform: translate(0,-100%);
  &:hover{
    .hidden2{
      width: 100%;
      margin : 0 5px 0 5px;
      transition: all ease 0.5s;
      visibility: visible;
    }
  }
  .hidden2 {
    width: 0;
    visibility: hidden;
    transition: all ease 0.5s;

  }
}


